body {
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

#conteiner {
    justify-content: center;
    background-color: #f0f0f0;

    text-align: center;
    margin: 1rem;
}

#conteiner-pessoas {
    padding: 0;
    border-radius: 5px;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    height: 10%;

}

#conteiner-inputs {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.inputs {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.contatoDetalhe {   
    display: flex; 
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    margin-top: 2rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgb(0, 0, 0);
    margin: 1rem;
}

.contatoDetalhe img {
    height: auto;
    width: auto;
    margin: 0 auto;
    width: 30px;
    height: 30px;
}

.error {
    color: red;
    text-align: center;
}

.success {
    color: green;
    font-weight: bold;
    text-align: center;
}